@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

@font-face {
    font-family: 'GraebenbachMono';
    src: url('./fonts/GraebenbachMono-Regular.otf') format('opentype');
}
.GraebenbachMono {
    font-family: 'GraebenbachMono', sans-serif;
}  

@font-face {
    font-family: 'GraebenbachMonoMed';
    src: url('./fonts/GraebenbachMono-Medium.otf') format('opentype');
}
.GraebenbachMonoMed {
    font-family: 'GraebenbachMonoMed', sans-serif;
}  

/* For desktop view */
.desktop-image {
    display: block;
    width: 100%; /* Make it full width */
    margin: 0 auto; /* Center it horizontally */
}

/* For mobile view */
.mobile-image {
    display: none;
    width: 90%;
    margin: 0 auto; /* Center it horizontally */
}
  
/* Media query for mobile screens (adjust max-width as needed) */
@media (max-width: 768px) {
/* Hide desktop image on mobile */
.desktop-image {
    display: none;
}

/* Show mobile image on mobile */
.mobile-image {
    display: block;
}




}
